defaults REDIS
 	mode tcp
 	timeout connect  4s
 	timeout server  30s
 	timeout client  30s
 
frontend ft_redis
 	bind HAPROXY_IPADDR:6379 name redis
 	default_backend bk_redis
 
backend bk_redis
	    option tcp-check
            tcp-check send PING\r\n
            tcp-check expect string +PONG
            tcp-check send info\ replication\r\n
            tcp-check expect string role:master
            tcp-check send QUIT\r\n
 	    tcp-check expect string +OK
 	
 	server R1 REDIS_001_IPADDR:6379 check inter 1s
 	server R2 REDIS_002_IPADDR:6379 check inter 1s
 	server R2 REDIS_003_IPADDR:6379 check inter 1s
